<div ng-repeat="item in mainSections" class="mainSection" style="background: {{ item.color }}">

  <h1>
    <div class="fa fa-chevron-down arrow"></div>
    {{ item.title }}
  </h1>
  
  <div class="sectionContentContainer">
    <div class="childContainer" style="display: none">
      <div ng-repeat="child in item.children" class="childSection">
        <h2>{{ child.title }}</h2>
        <div class="childContentContainer">
          <img ng-src="images/{{ child.image }}" alt="{{ child.title }}">
          <div class="childText">{{ child.text }}</div>
        </div>
      </div>
    </div>
    <img ng-src="images/{{ item.image }}" alt="{{ item.title }}">
  </div>

</div>
